:ems:
  :ems_workflows:
    :event_handling:
      :event_groups:
    :runner_options:
      :docker:
        :pull_policy: missing
      :kubernetes:
        :pull_policy: Always
      :podman:
        :pull_policy: newer
:ems_refresh:
  :workflows:
    :refresh_interval: 15.minutes
:http_proxy:
  :workflows:
    :host:
    :password:
    :port:
    :user:
:log:
  :level_workflows: info
:workers:
  :worker_base:
    :event_catcher:
      :event_catcher_workflows:
        :poll: 20.seconds
    :queue_worker_base:
      :ems_metrics_collector_worker:
        :ems_metrics_collector_worker_workflows: {}
      :ems_refresh_worker:
        :ems_refresh_worker_workflows: {}
:prototype:
  :ems_workflows:
    :enabled: true
